@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,700;1,700&display=swap");

@import url(reset.css);

.header h1,
.footer {
    font-size: 36px;
    font-weight: 800;
    background-color: #8080808c;
    text-transform: uppercase;
    padding-block: 15px;
    text-align: center;
    color: #fff;
}

.wrapper {
    min-height: auto;
    overflow: hidden;
}

.timeline,
.pricing {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    padding-block: 106px;
}

.container {
    max-width: 1730px;
    margin: 0 auto;
    padding-inline: 15px;
}

.container .timeline__item:last-child {
    margin-bottom: 0;
}

.container .timeline__item h2::after {
    width: 54px;
    height: 54px;
    margin-left: 10px;
}

.container .timeline__item:first-child h2::after {
    content: url("../img/timeline-icon/glass.png");
}

.container .timeline__item:nth-child(2) h2::after {
    content: url("../img/timeline-icon/laptop.png");
}

.container .timeline__item:last-child h2::after {
    content: url("../img/timeline-icon/rocket.png");
}

.timeline__item {
    font-size: 0;
    margin-bottom: 54px;
    display: inline-block;
}

.timeline__item-numero {
    color: #4a3aff;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    line-height: 108%;
    background: #4a3aff1a;
    border-radius: 50%;
    padding: 61px 62px;
    display: inline-block;
    margin-right: 42px;
    vertical-align: middle;
}

.timeline__item:hover {
    cursor: pointer;
}

.timeline__item:hover .timeline__item-numero {
    background: #4a3aff52;
}

.timeline__item-body {
    display: inline-block;
    max-width: 630px;
    padding-block: 25px;
    vertical-align: middle;
}

.timeline__item-date {
    color: #4a3aff;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}

.timeline__item-header {
    color: #1e1b39;
    font-size: 42px;
    font-weight: 700;
    line-height: 128%;
}

.timeline__item-text {
    color: #6e6c83;
    font-size: 24px;
    font-weight: 400;
    line-height: 175%;
}

.pricing {}

.pricing__card-wraper {
    border-radius: 56px;
    background: #f0f0f6;
    padding-block: 24px 58px;
    padding-inline: 24px;
    display: inline-block;
    max-width: 543px;
}

.pricing__card-wraper:hover {
    background: #cecef8;
    cursor: pointer;
}

.pricing__price-box {
    border-radius: 34px;
    background: #4a3aff;
    padding: 45px 139px;
    text-align: center;
    margin-bottom: 34px;
}

.pricing__header {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 106%;
}

.pricing__price {
    color: #fff;
    font-size: 116px;
    font-weight: 700;
    line-height: 103%;
    margin-bottom: 6px;
}

.pricing__date {
    color: #7165ff;
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
}

.pricing__list {}

.pricing__list-item {
    color: #1e1b39;
    font-size: 28px;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 26px;
    padding-left: 50px;
}

.pricing__list-item:last-child {
    margin-bottom: 0;
}

.pricing__list-item::before {
    content: url(../img/pricing/check.svg);
    vertical-align: middle;
    margin-right: 14px;
    margin-left: -50px;
}

.agency {
    font-family: "Epilogue", sans-serif;
    color: #391400;
    background: #fdf0e9;
}

.agency h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
}

.agency li {
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
}

.container-agency {
    max-width: 1000px;
    padding-block: 68px 58px;
}

.title-text,
.promote-text-top,
.promote-text-bottom,
.service-text-top,
.service-text-middle,
.service-text-bottom {
    color: #391400a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
}

.title-pic {
    margin-bottom: 74px;
    width: 100%;
    border-radius: 6px;
}

.title-header {
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.agency-box {
    max-width: 570px;
    margin: 0 auto;
}

.agency-box>*:not(.agency-box:last-child){
    margin-bottom: 51px;
}

.agency-title>*:not(.agency-title:last-child){
    margin-bottom: 32px;
}

.promote {
    margin-bottom: 14px;
}

.service>*:not(.service:last-child){
margin-bottom: 32px;
}
.promote>*:not(.promote:last-child){
    margin-bottom: 32px;
}
/*.promote-header,
.service-header {
    margin-bottom: 35px;
}

.promote-text-top {
    margin-bottom: 34px;
}

.promote-list,
.service-list {
    margin-bottom: 32px;
}*/

.promote-list__item::before {
    content: "";
    height: 8px;
    border-radius: 50%;
    background-color: #EF6D58;
    margin-right: 16px;
    width: 8px;
    display: inline-block;
    vertical-align: middle;
}

.service-list__item {
    list-style: decimal;
    list-style-position: inside;
}


.service-text-middle {
    margin-bottom: 37px;
}

.service .service-text-marker {
    margin-bottom: 76px;
    border-radius: 6px;
    background: #f9e5da url(../img/agency/service-text-marker-pic.svg) no-repeat 32px 40px;
    padding: 42px 32px 32px 112px;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}

.game {
    padding-block: 30px;
}
.game-header {
    text-transform: uppercase;
    color: darkolivegreen;
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}
.field {
    max-width: 1000px;
    min-height: 400px;
    margin: 0 auto;
    vertical-align: middle;
    font-size: 0;
}

.block {
    background-image: url(../img/game/snake-body.png);
    background-size: contain;
}

.block-vertical {
    background-image: url(../img/game/snake-body-vertical.png);
    background-size: 100% 70%;
}
.uno {
    width: 50px;
    height: 50px;
    visibility: visible;
    background: url(../img/game/snake-head.png) 0 0 / 50px 50px no-repeat;
    transform: rotate(-90deg);
    cursor: pointer;
}

.block, .block-vertical {
    visibility: hidden;
    cursor: pointer;
}

.dos {
    width: 100px;
    height: 18px;
    margin-left: 50px;
    margin-top: -32px;
    border-top-right-radius: 18px;
}

.tres {
    width: 20px;
    height: 150px;
    margin-left: 130px;
    border-bottom-left-radius: 150px;
}

.cuatro {
    width: 200px;
    height: 50px;
    margin-left: 150px;
    margin-top: -50px;
}

.cinco {
    width: 20px;
    height: 150px;
    margin-left: 350px;
    margin-top: -50px;
    border-top-right-radius: 150px;
}

.seis {
    width: 100px;
    height: 30px;
    margin-left: 350px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

.siete {
    width: 5px;
    height: 20px;
    margin-left: 445px;
}

.ocho {
    width: 300px;
    height: 30px;
    margin-left: 445px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

.nueve {
    width: 10px;
    height: 50px;
    margin-left: 735px;
    margin-top: -80px;
    border-top-left-radius: 10px;
}

.diez {
    width: 205px;
    height: 30px;
    margin-left: 745px;
    margin-top: -50px;
 
}

.once {
    width: 50px;
    height: 50px;
    margin-left: 950px;
    margin-top: -43px;
    background: url(../img/game/snake-tail.png)  0 0 / 50px 50px no-repeat;
    transform: rotate(90deg);
    cursor: pointer;
}

/*.uno:hover+.dos,
.dos:hover {
    visibility: visible;
}

.dos:hover+.tres,
.tres:hover {
    visibility: visible;
}
.tres:hover+.cuatro,
.cuatro:hover {
    visibility: visible;
}

.cuatro:hover+.cinco,
.cinco:hover {
    visibility: visible;
}
.cinco:hover+.seis,
.seis:hover {
    visibility: visible;
}

.seis:hover+.siete,
.siete:hover {
    visibility: visible;
}
.siete:hover+.ocho,
.ocho:hover {
    visibility: visible;
}

.ocho:hover+.nueve,
.nueve:hover {
    visibility: visible;
}
.nueve:hover+.diez,
.diez:hover {
    visibility: visible;
}

*/

.field>*:hover + *,
.field>*:hover{
    visibility: visible;
}
    