@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&display=swap");

@import url(reset.css);

.header h1,
.footer {
    font-size: 36px;
    font-weight: 800;
    background-color: #8080808c;
    text-transform: uppercase;
    padding-block: 15px;
    text-align: center;
    color: #fff;
}

.wrapper {
    min-height: auto;
    overflow: hidden;
    background-color: #bebebe;
}

.container {
    max-width: 1730px;
    margin: 0 auto;
    padding-inline: 15px;
}

.container>*:not(.block:last-child) {
    margin-bottom: 20px;
}
.block {
    font-size: 0;
    border-radius: 10px;
    border: 1px white solid;
    padding: 15px;
}
.block-img {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    
}
.block-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 32px;
}

.man {
    max-width: 1170px;
}

.abstract {
    max-width: 570px;
}

.radius {
    border-radius: 6px;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
