@import url(reset.css);
@import url(fonts.css);

.header h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 800;
}

.wrapper {
    min-height: auto;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 15px;
}

.container-best {
    max-width: 1950px;
    margin: 0 auto;
    padding-inline: 15px;
}

.give__section {
    font-family: "Epilogue", sans-serif;
    background-color: #FDF0E9;
}

.give__text {
    padding-block: 76px 40px;
    display: inline-block;
    max-width: 470px;
    margin-inline-end: 166px;
}

.give__head-top {
    color: #EF6D58;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-block-end: 20px;
}

.give__text-midle {
    color: #391400;
    font-size: 56px;
    font-weight: 800;
    line-height: 114.286%;
    letter-spacing: -1px;
    margin-block-end: 26px;
}

.give__text-bottom {
    color: #391400;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    margin-block-end: 26px;
}

.give__pic {
    max-width: 529px;
}

.give__list {
    color: #391400a3;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
}

.give__list-item {
    background-image: url("../img/check.png");
    background-repeat: no-repeat;
    padding-inline-start: 48px;
    margin-block-end: 16px;
}

.no-margin {
    margin-block-end: 0;
}

.best {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    padding-block: 195px 70px;
    text-align: center;
    background:
        /*url("/img/abstract.png") no-repeat center,*/
        linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.00) 100%),
        linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%),
        url("../img/group-pic.png") no-repeat center bottom 312px/ cover,
        #141414;
}

.best__items {
    max-width: 1096px;
    margin: 0 auto;
}

.best__pic-hack {
    margin-bottom: 131px;
}

.best__header {
    color: #FFF;
    font-size: 58px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 14px;
}

.best__text {
    color: #999;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
}

.best__button {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    padding-inline: 56px 24px;
    padding-block: 18px;
    border-radius: 8px;
    background: #E50000 url("../img/button-icon.png") no-repeat left 24px center;
}

.footer {
    background-color: #8080808c;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}